* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #ffffff;
    --color--primary: #0051A8;
    --color--secondary: #155624;
    --color--tertiary-one: #003E80;
    --color--tertiary-two: #A01C2A;
    --color--tertiary-three: #82b7ef;
    --color--tertiary-four: #fcf0ec;
    --text--color-one: #ffffff;
    --text--color-two: #000000;

    --heading-font: 'Roboto', sans-serif;
    --text-font-h1: 100;
    --text-font-h2: 300;
    --text-font-h3: 400;
    --text-font-h3: 500;
}



body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


main {
    width: 80%;
}

.typography {
    font-family: "Roboto", sans-serif;
}

header {
    width: 100%;
    color: #ffffff;
    font-size: 1.55rem;
    text-align: center;
    padding: 20px;
    background-color: var(--color--primary)
}

footer {
    display: flex;
    flex-direction: column;
    background: var(--color--primary);
    text-align: center;
    color: var(--color--tertiary);
    justify-content: center;
    width: 100%;
    color: #ffffff;

}

p {
    font-size: 18px;
    padding: 10px;
    margin: 10px;
}

h2 {
    font-size: 1.55rem;
}

.img-container {
    display: flex;
    justify-content: space-around;

}

.img-container img {

    border-radius: 5px;
    margin: 10px;
    min-width: 250px;
}

div {
    margin: 3% 0%;
}

.color-primary {
    background-color: var(--color--primary);
    border-radius: 5px;
    color: #ffff;
}

.color-secondary {
    background-color: var(--color--secondary);
    border-radius: 5px;
    color: #fff;
}

.color-tertiary {
    background-color: var(--color--tertiary-one);
    border-radius: 5px;
    color: #ffffff;
}



@media screen and (max-width: 640px) {
    .img-container {
        justify-content: center;
        flex-direction: column;
    }
}