@media (min-width: 640px) {
    
   nav ul {

    display:  flex;
    justify-content: space-evenly;
    background-color: var(--color--secondary);
    
    }


nav a {
text-decoration: none;
color: white;
font-weight: 400;
display: block;
flex: 1 1 100%;
padding: 10px 20px;

}
#menu {
    display: none;

}


}